@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
:root{
    --lime: hsl(61, 70%, 52%);
    --red: hsl(4, 69%, 50%);
    --white: hsl(0, 0%, 100%);
    --slate1: hsl(202, 86%, 94%);
    --slate3: hsl(203, 41%, 72%);
    --slate5: hsl(200, 26%, 54%);
    --slate7: hsl(200, 24%, 40%);
    --slate9: hsl(202, 55%, 16%);
}
body{
    width: 100%;
    min-height: 69rem;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slate3);
}
.card{
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-size: 1rem;
    background-color: var(--white);
    width: clamp(20rem,100vw,30rem);
    min-height: 67rem;
    color: var(--slate7);
    font-weight: 500;
    position: relative;
    padding-block-start: 2rem;
    display: flex;
    font-weight: 500;
    flex-direction: column;
}
.inside{
    padding-inline: 1.5rem;
}
h1{
    font-size: 1.75rem;
    color: var(--slate9);
}
button[type="reset"]{
    background-color: var(--white);
    border: none;
    display: block;
    margin-block: 1.5rem;
    color: var(--slate7);
    cursor: pointer;
}
button[type="reset"]:hover{
    color: var(--slate9);
}
button[type="reset"]:active{
    transform: translateY(2px);
}
.inputs{
    margin-block: 0.5rem;
    margin-block-end: 1.5rem;
    height: 2.5rem;
    width: 100%;
    display: flex;
    border: 1px solid var(--slate7);
    border-radius: 0.25rem;
    overflow: hidden;
    cursor: pointer;
}
.inputs:hover{
    border-color: var(--slate9);
}
.inputs.error{
    border-color: red;
}
.inputs.active{
    border-color: var(--lime);
}
label{
    cursor: pointer;
}
input[type="text"]{
    display: block;
    border: 0px;
    outline: none;
    cursor: pointer;
    color: var(--slate9);
    font-size: 1rem;
    font-weight: 700;
}
.box{
    height: 100%;
    background-color: var(--slate1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.box.error{
    background-color: red;
    color: var(--white);
}
.box.active{
    background-color: var(--lime);
    color: var(--slate9);
}
.pound,.percentage{
    width:15%;
}
#amount,#rate{
    width: 85%;
}
#term{
    width: 75%;
}
.years{
    width: 25%;
}
.weight{
    font-weight: 700;
}
.rgroup{
    width: 100%;
    border: 1px solid var(--slate7);
    border-radius: 0.25rem;
    height: 2.5rem;
    margin-block: 1rem;
    display: flex;
    align-items: center;
    color: var(--slate9);
    cursor: pointer;
}
.rgroup.color{
    background-color: lightyellow;
}
.rgroup:hover{
    border-color: var(--lime);
}
.rgroup:active{
    transform: translateY(2px);
}
input[type="radio"]{
    margin-inline: 1rem;
    height: 1.1rem;
    width: 1.1rem;
    accent-color: var(--lime);
    cursor: pointer;
}
button[type="submit"]{
    margin: auto;
    background-color: var(--lime);
    height: 3.5rem;
    border-radius: 4rem;
    color: var(--slate9);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 10%;
    cursor: pointer;
    margin-block: 1.5rem;
    border: none;
    width: 100%;
    font-size: 1rem;
}
button[type="submit"]:hover{
    opacity: 0.5;
}
button[type="submit"]:active{
    transform: translateY(2px);
}
button[type="submit"]:focus{
    outline: 2px solid var(--lime);
}
.end{
    background-color: var(--slate9);
    width: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
    flex:1;
    padding-block: 2rem;
}
.end h2{
    color: var(--white);
}
.end p{
    color: var(--slate5);
}
.empty{
    align-items: center;
}
.empty p{
    text-align: center;
}
.final{
    width: calc(100% - 3rem);
    height: 13rem;
    background-color: hsl(201, 80%, 8%);
    border-radius: 0.5rem;
    border-top: 5px solid var(--lime);
    padding-inline: 1.5rem;
    padding-block: 1rem;
    color: var(--slate3);
}
.final p{
    margin: 0;
}
.complete{
    display: none;
}
@media (min-width:60rem) {
    body{
        min-height: 46rem;
        height: 100vh;
    }
    .card{
        width: 60rem;
        min-height: initial;
        height: 41rem;
        flex-direction: row;
        padding-block-start: 0px;
        border-radius: 1.5rem;
    }
    .inside{
        width: calc(50% - 3rem);
        padding-block-start: 2rem;
        position: relative;
    }
    h1{
        display: inline-block;
        font-size: 1.5rem;
    }
    input[type="text"]{
        cursor: pointer;
    }
    button[type="reset"]{
        display: inline;
        margin-block: 1rem;
        position: absolute;
        right: 1.5rem;
        top: 2.6rem;
    }
    .group{
        display: flex;
        justify-content: space-between;
    }
    .group2{
        width: 47%;
    }
    #term{
        width: 60%;
    }
    .years{
        width: 40%;
    }
    #rate{
        width: 70%;
    }
    .percentage{
        width: 30%;
    }
    button[type="submit"]{
        width: 70%;
        position: absolute;
        left: 1.5rem;
    }
    .end{
        overflow: hidden;
        width: calc(50% - 3rem);
        flex: initial;
        border-radius: 0 1.5rem 1.5rem 6rem;
    }
    .empty{
        justify-content: center;
    }

}
