@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url(assets/fonts/static/PlusJakartaSans-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url(assets/fonts/static/PlusJakartaSans-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
:root{
    --Lime: hsl(61, 70%, 52%);
    --LimeDark : hsla(61, 70%, 52%, 0.225);
    --Red: hsl(4, 69%, 50%);
    --White: hsl(0, 0%, 100%);
    --Slate100: hsl(202, 86%, 94%);
    --Slate300: hsl(203, 41%, 72%);
    --Slate500: hsl(200, 26%, 54%);
    --Slate700: hsl(200, 24%, 40%);
    --Slate900: hsl(202, 55%, 16%);
    --Slate900a: rgb(2, 25, 37);
}
body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: var(--Slate100);
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-weight: 500;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: clamp(20rem,100vw,25rem);
    background-color: var(--White);
    padding-block-start: 2.5rem;
}
h1{
    color: var(--Slate900);
    padding-inline: 5%;
}
.card{
    width: 100%;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.visually-hidden{
    position: absolute;
    width: 1px;           
    height: 1px;
    padding: 0;
    margin: -1px;         
    overflow: hidden;     
    clip: rect(0 0 0 0);  
    clip-path: inset(50%);
    white-space: nowrap;  
    border: 0;
}
.inputs{
    padding-inline: 5%;
    color: var(--Slate700);
}
.reset{
    background-color: var(--White);
    border: none;
    display: block;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 0.125rem ;
    color: var(--Slate700);
}
.reset:hover{
    color: var(--Slate900);
}
.reset:focus{
    color: var(--Slate900);
    outline: none;
    box-shadow: 0 0 0 3px var(--Slate900a); 
    border-radius: 6px; 
}
.label{
    display: inline-block;
    margin-block-end: 1rem;
    cursor: pointer;
}
.label.newMargin{
    margin-block-start: 0.5rem;
}
.firstLabel{
    margin-block-start: 2rem;
}
.dimensions{
    width: 100%;
    height: 2.5rem;
}
.form-field{
    overflow: hidden;
    border: 1px solid var(--Slate700);
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    margin-block-end: 2rem;
}
.form-field.noMargin{
    margin-block-end: 0rem;
}
.form-field:hover{
    outline: 1px solid var(--Slate500);
    border-color: var(--Slate500);
}
.form-field.error{
    border-color: var(--Red);
}
.form-field.error:hover{
    outline: 1px solid var(--Red);
}
.symbol{
    width: 10%;
    height: 100%;
    background-color: var(--Slate100);
    color: var(--Slate700);
    font-weight: 700;
}
.symbol.error{
    color: var(--Slate100);
    background-color: var(--Red);
}
.form-field__preview{
    width: 90%;
    height: 100%;
}
.form-field__formatted{
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    justify-content: flex-start;
    position: relative;
    font-weight: 700;
    color: var(--Slate900);
    padding-inline-start: 2px;
    box-sizing: border-box;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 500ms ease, opacity 500ms ease;
    will-change: transform, opacity;

}
.form-field__formatted.show{
    opacity: 1;
}
.form-field:focus-within{
    outline: 1px solid var(--Lime);
    border-color: var(--Lime);
}
.form-field:focus-within .symbol{
    background-color: var(--Lime);
}
.errorText{
    color: var(--Red);
    font-size: 0.775rem;
    margin-block: 0.25rem;
    margin-block-end: 0.75rem;
    display: none;
}
.errorText.display{
    display: block;
}
.errorText.addMargin{
    margin-block-end: 1.25rem;
}
.form-field__input{
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-weight: 700;
    color: var(--Slate900);
    height: 100%;
    box-sizing: border-box;
    border: none;
    appearance: textfield;
}
.amount{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.amount.show{
    opacity: 0;
}
.form-field__input:focus{
    outline: 1px solid var(--Lime);
}
.term{
    width: 75%;
    box-sizing: border-box;
}
.years{
    width: 25%;
}
.rate{
    width: 85%;
    box-sizing: border-box;
}
.percentage{
    width: 15%;
}
fieldset{
    border: none;
    margin: 0;
    padding: 0;
}
.radios{
    margin-block-end: 2.5rem;
}
.radios.noMargin{
    margin-block-end: 0rem;
}
legend{
    margin-block-end: 1rem;
}
.option{
    border: 1px solid var(--Slate700);
    border-radius: 0.25rem;
    justify-content: flex-start;
    cursor: pointer;
    color: var(--Slate900);
    font-weight: 700;
}
.first{
    margin-block-end: 1rem;
}
.option:active{
    transform: translateY(1px);
}
.option:hover{
    border-color: var(--Lime);
}
.option.colorChange{
    border-color: var(--Lime);
    background-color: var(--LimeDark);
}
input[type="radio"]{
    margin: 1rem;
    cursor: pointer;
    accent-color: var(--Lime);
}
.submit{
    font-size: 1rem;
    color: var(--Slate900);
    background-color: var(--Lime);
    border: none;
    border-radius: 5rem;
    font-weight: 700;
    margin-block-end: 2.5rem;
    cursor: pointer;
}
.submit:active{
    transform: translateY(1px);
}
.submit:hover{
    opacity: 0.5;
}
.submit span{
    margin: 1rem;
}
.submit:focus{
    outline: 2px solid var(--Lime);
}
.results{
    background-color: var(--Slate900);
    color: var(--Slate300);
}
.results h2{
    color: var(--Slate100);
}
.empty{
    text-align: center;
    flex-direction: column;
}
.completed{
    display: none;
}
.completed h2{
    margin: 0;
}
.empty,.completed{
    width: 90%;
    padding-block: 7.5%;
    padding-inline: 5%;
}
.empty.showNone{
    display: none;
}
.completed.showAll{
    display: block;
}
hr{
    opacity: 0.5;
    margin-block: 1rem;
}
.payments{
    background-color: var(--Slate900a);
    border-radius: 0.5rem;
    border-top: 0.25rem solid var(--Lime);
    padding-inline: 5%;
    padding-block: 5%;
}
.payments label{
    display: block;
}
.monthly{
    color: var(--Lime);
    font-size: 2.5rem;
    font-weight: 700;
}
.total{
    color: var(--Slate100);
    font-size: 1.25rem;
    font-weight: 700;
}
@media (min-width:58.25rem) {
    main{
        width: 58.25rem;
        border-radius: 1.25rem;
        padding-block-start: 0;
        position: relative;
    }
    .card{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .inputs{
        width: 42%;
        padding-inline: 4%;
        padding-block-start: 2.5rem;
    }
    h1{
        position: absolute;
        font-size: 1.5rem;
        margin-block: 0px;
        margin-block-start: 2rem;
        padding-inline: 0%;
        padding-inline-start: 4%;
    }
    form{
        position: relative;
        flex-direction: row;
    }
    .reset{
        margin-left: auto;
    }
    .group{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .group1,.group2{
        width: 45%;
        position: relative;
    }
    .years{
        width: 45%;
        box-sizing: border-box;
    }
    .percentage{
        width: 25%;
        box-sizing: border-box;
    }
    .submit{
        width: 80%;
    }
    .results{
        width: 50%;
        border-radius: 0 1.25rem 1.25rem 5rem;
    }
    .empty{
        height: 100%;
        flex-direction: column;
        padding-block: 0%;
    }
    .completed{
        padding-block: 0%;
        padding-block-start: 2.5rem;
    }
    .completed .text{
        margin-block: 2rem;
    }
}


